    @media all and (max-width: 768px){
      .item{
        max-width: initial;
        max-height: initial;
        width: 95vw;
        height: calc(95vw / 16 * 9);
      }
      .img_link{

      }
    }

    @media all and ( min-width: 1200px ){
      .img_link:hover{
       opacity: 1;
       transform: scale(1.2) ;
       z-index: 10;
       box-shadow: 0 0 200px 30px rgba(0, 140, 255, 0.8);
      }
    }

    body {
    font: 13pt Arial; /* Шрифт теста */
    background: #424242; /* Цвет фона */
    }

    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }  
   
    h2 {
    text-align: center;
    font-size: 36px ; /* Размер шрифта в заголовке */
    color: #c4c4c4; /* Цвет заголовка */
    margin-top: 0; /* Отступ сверху */
    padding: 10px;
    }
   
    a {
    font-family: 'Reem Kufi Fun', sans-serif;
    color: #1010FF;
    text-decoration: none;
    }

    .main{
    display: flex;
    flex-wrap: wrap;
    background: #424242;
    margin: auto;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    }

    .items{
    max-width: 490px;
    max-width: 264px;
    height: calc(95vw / 2 / 16 * 9);
    width: calc(90vw - 10px);
    background-color: black;
    background-position: center;
    background-size: cover;
    }

    .container {
    width: 80%; /* Ширина слоя */
    margin: 0 auto; /* Выравнивнить весь блок по центру */
    background: #0D1117; /* Цвет фона левой колонки */
    }
   
    .header {
    font-family: 'Raleway', sans-serif;
    font-family: 'Reem Kufi Fun', sans-serif;
    font-style: italic;
    font-size: 38px ; /* Размер текста в шапке */
    text-align: center; /* Выравнивание текст шапки по центру */
    padding: 5px; /* Отступы внутри блока шапки */
    background: #161B22; /* Цвет фона шапки */
    color: #a3a3a3; /* Цвет текста */
    }
   
    .headlogo{
    width: 60px;
		height: 60px;
		float: left;
    }
   
    .sidebar {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    width: 120px; /* Ширина блока */
    padding: 50px 10px; /* Отступы внутри левого блока */
    float: left; /* Обтекание блока по правому краю */
    line-height: 2;
    font-size: 20px ; 
    }
   
    .content {
    margin-left: 130px; /* Отступ слева */
    padding: 10px; /* Отступы внутри правого блока */
    background: #010409; /* Цвет фона правого блока */
    color: #a3a3a3;
    }
   
    .footer {
    background: #262626; /* Цвет фона нижнего блока-подвала */
    color: #a3a3a3; /* Цвет текста подвала */
    padding: 5px; /* Отступы внутри блока */
    clear: left; /* Отменяем действие float */
    }

    .img_link{
      display: block;
      opacity: 0.5;
      margin: 5px;
      transition: 0.7s ease-out, transform 0.4s ease-in, box-shadow 0.6s ease-in-out;
    }